html {
    background-color: grey;
    /*font-size: 10px;*/
    font-family: "Open Sans", sans-serif;
}

h3.comments {
    color: red;
    text-align: center;
}
 
h2#mainpostname {
    color: blue;
    text-align: center;
}

h3#postcontents {
    color: green;
    text-align: center;
}

p {
    color: red;
    text-align: center;
}

/*li {
    text-align: center;
}*/

strong {
    color: brown;
}

h1 {
    color: teal;
    background-color: black;
}

