html {
    background-color: grey;
    /*font-size: 10px;*/
    font-family: "Open Sans", sans-serif;
}

h3.comments {
    color: red;
    text-align: center;
}
 
h2#mainpostname {
    color: blue;
    text-align: center;
}

h2#creation {
    color: purple;
    text-align: center;
    border: 3px solid black;
}

h3#postcontents {
    color: green;
    text-align: center;
    border: 3px solid black;
}

p, li {
    color: red;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 5px;
}

strong {
    color: brown;
    border: 3px solid black;
}

h1 {
    color: teal;
    /*background-color: black;*/
    width: 207px;
    border: 3px solid black;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }